body{
    background-color:#004aad;
}
/*Header*/
#nav-mobile ul li i{
    margin-right:10px;
}
header nav{
    background-color:#004aad;
}
/* section */
section img{
    width:30%;
    margin-top:20px;
    margin-left: 30%;
}
#desc, #history{
    padding:0px 10px 0px 10px;
}
#desc p, #history p{
    text-align: justify;
}

/* Footer */
#footer{
    margin-top:50px;
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}