body{
    background-color:#004aad
}
/* header */
header nav{
    background-color:#004aad
}

/* Pesquisa cursos */
section{
    padding:10px;
}
#meusCursos{
    text-align:center;
    font-size:20px;
    margin-top:20px;
}
section div p{
    width:70%;
    text-align:justify;
    margin-left:15%;
}
#btn-search{
    border:none;
    font-size:1.5em;
    cursor:pointer;
    float:right;
}

#dadosForm{
    width:50%;
    margin:45px auto 25px auto
}

#dadosForm label{
    font-weight: bold;
    color:black;
    font-size:1.2em;
}
#info{
    margin-top:45px;
}
.cursos{
    width:60%;
    margin-top:50px;
    background-color:rgb(57, 57, 255);
    padding:10px;
}
.cursos img{
    width:80%;
}
.cursos p{
    float:right;
    margin-right:150px;
    color:white;
    font-size:1.3em;
}
.cursos a{
    float:right;
}
@media screen and (max-width:780px){
    .cursos{
        height: max-content;
        padding:5px;
        width:100%;
    }
    .cursos img{
        float:left;
    }
    .cursos p{
        float:left
    }
}
.inscreve{
    color:#fff;
    float:right;
    margin-top:10px
}
.edita{
    color:#fff;
    float:right;
    margin-top:10px;
    margin-right:20px;
}

/* footer */
#footer{
    margin-top:25px;
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}


