body{
    background-color:#004aad
}
/*Header*/
header nav{
    background-color:#004aad
}

/* Se */
section form{
    margin-left:80%;
    margin-top:100px;
}
#choose-user{
    margin-left:40%;
    margin-top:50px;
}

#user-jovem{
    visibility: hidden;
    margin-top:-330px;
}
#user-empresa p > a, #user-jovem p > a{
    font-size:1em;
    text-decoration: underline;
}

/* footer */
#footer{
    margin-top:25px;
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}



