/* Formularios cursos */
#cursoForm{
    width:60%;
    margin:40px auto 10px auto;
}
#cursoForm button{
    font-size:20px;
    margin-left:40%;
}
/* formulario Vagas */
#vagaForm{
    width:60%;
    margin:40px auto 10px auto;
}
#vagaForm button{
    font-size:20px;
    margin-left:40%;
}
