body{
    background-color:#004aad
}
/* HEader */
header nav{
    background-color:#004aad
}
/* Section */
#desc p {
    margin-top:40px;
    font-weight:bold;
}
/* Formulario */
form{
    width:50%;
    margin:45px auto 25px auto
}
form p {
    font-weight: bold;
}
.input::-webkit-input-placeholder{
    color:white;
    font-weight:300;
}
.input{
    color:white;
}
#venha img{
    width:30%;
    margin-top:20px;
    margin-left: 30%;
}

#input-submit{
    padding:10px;
}
/* form */
#footer{
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}


