body{
    background-color:#004aad
}
/*Header*/
#nav-mobile ul li i{
    margin-right:10px;
}
header nav{
    background-color:#004aad
}

/* section */
section{
    width:80%;
    margin:auto;
}
#desc p{
    text-align: justify;
}
#desc img{
    width:35%;
    margin-top:20px;
    margin-left: 30%;
}
#cursoVaga{
    margin-top:50px;
}
#curso, #vaga{
    padding:20px;
    border-radius:15px;
    background-color:#ff914d;
}

#vaga, #curso{
    margin:20px auto 0px auto;
    width:100%;
}

#vaga img, #curso img{
    width:30%;
}
#vaga p, #curso p{
    float:right;
    font-size:1.3em;
    margin-right:280px;
}
#curso p{
    margin-right:450px;
}
#vaga p > span, #curso p > span{
    font-weight: bold;
}
/* mobile */
@media screen and (max-width:735px){
    #vaga, #curso{
        width:100%;
        height:max-content
    }
    #vaga p{
        font-size:1.1em;
        margin-right:10px;
        display:flex;
        flex-wrap: wrap;
    }
    
    #curso p{
        font-size:1.1em;
        margin-right:40px;;
    }
}
/* Tablet */
@media screen and (max-width:1024px){
    #vaga p{
        margin-right:20px;
    }
}


.vermais{
    color:#fff;
    margin-top:10px;
    font-size:1.3em;
}
.vermais:hover{
    text-decoration: underline;
}

/* footer */
#footer{
    margin-top:25px;
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}


