/*Header*/
#nav-mobile ul li i{
    margin-right:10px;
}

/* section */
section{
    width:80%;
    margin:auto;
}
#desc p{
    text-align: justify;
}
#cursoVaga{
    margin-top:50px;
}
#curso, #vaga{
    padding:20px;
    border-radius:15px;
}
#curso{
    float:left;
    width:40%;
}
#vaga{
    float:right;
    width:40%;
}
.vermais{
    color:#fff;
    margin-top:10px;
}
.vermais:hover{
    text-decoration: underline;
}



