body{
    background-color:#004aad
}
/* header */
header nav{
    background-color:#004aad
}
/* section */
section{
    padding:10px;
}

section div p{
    width:70%;
    text-align:justify;
    margin-left:15%;
}
#btn-search{
    border:none;
    font-size:1.5em;
    cursor:pointer;
    float:right;
    background-color:#004aad;
}

form{
    width:50%;
    margin:45px auto 25px auto
}
.vagas img{
    width:80%;
}
.vagas p{
    float:right;
    margin-right:150px;
}
.vagas a{
    float:right;
}
@media screen and (max-width:780px){
    .vagas img{
        float:left;
    }
    .vagas p{
        float:left;
    }
}

div form label{
    font-weight: bold;
    color:black;
    font-size:1.2em;
}
#info{
    margin-top:45px;
}
.vagas{
    width:80%;
    margin-top:50px;
    background-color:rgb(57, 57, 255);
    padding:10px;
    height: max-content;
}

.insert{
    color:#fff;
    float:right;
    margin-top:8px;
}
.edita{
    color:#fff;
    float:right;
    margin-top:10px;
    margin-right:20px;
}
.data-pub{
    color:#fff;
    font-size:1.3em;
}
.vagas span > p{
    font-size:15px;
    font-weight: bold;
}

/* footer */
#footer{
    background-color:#5288c2;
}
#copyright{
    background-color:#004aad
}
